##### Importing dependencies

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('Advertising.csv')
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

# Data explanation
- The data below the headers **TV**, **radio**, and **newspaper** represents the amount of money, in thousands of dollars, spent on each form of advertising. These are the features for our model.
- The data below the header **sales** represents the number of sales of a product, in thousa that was advertised.